<center><h1>{{'gen.title1' | translate}} <font color="#fe6f37">{{'gen.title2' | translate}}</font> {{'gen.title3' | translate}}</h1></center>			
			
<center><div class="BlocTexte">
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'gen.block1Heading' | translate}}</font></h2>
		<p>{{'gen.block1Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'gen.block2Heading' | translate}}</font></h2>
		<p>{{'gen.block2Text' | translate}}</p>
	</div>
</div>
	
	
<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'gen.block3Heading' | translate}}</font></h2>
		<p>{{'gen.block3Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'gen.block4Heading' | translate}}</font></h2>
		<p>{{'gen.block4Text' | translate}}</p>
	</div>
</div>	


<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'gen.block5Heading' | translate}}</font></h2>
		<p>{{'gen.block5Text' | translate}}</p>
	</div>
</div>
	
<p><center><a href ng-click="showModal()" id="bouton" style="font-size:15px"><strong>{{'gen.buttonText' | translate}}</strong></a></center></p>