<center><h1>{{'gyn.title1' | translate}} <font color="#fe6f37">{{'gyn.title2' | translate}}</font> {{'gyn.title3' | translate}}</h1></center>
			
<center><div class="BlocTexte">
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'gyn.block1Heading' | translate}}</font></h2>
		<p>{{'gyn.block1Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'gyn.block2Heading' | translate}}</font></h2>
		<p>{{'gyn.block2Text' | translate}}</p>
	</div>
</div>
		
<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'gyn.block3Heading' | translate}}</font></h2>
		<p>{{'gyn.block3Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'gyn.block4Heading' | translate}}</font></h2>
		<p>{{'gyn.block4Text' | translate}}</p>
	</div>
</div>
	
<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'gyn.block5Heading' | translate}}</font></h2>
		<p>{{'gyn.block5Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'gyn.block6Heading' | translate}}</font></h2>
		<p>{{'gyn.block6Text' | translate}}</p>
	</div>
</div></center>
	
<p><center><a href ng-click="showModal()" id="bouton" class="openform" style="font-size:15px"><strong>{{'gyn.buttonText' | translate}}</strong></a></center></p>