<center><h1>{{'radio.title1' | translate}} <font color="#fe6f37">{{'radio.title2' | translate}}</font> {{'radio.title3' | translate}}</h1></center>
			
<center><div class="BlocTexte">
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'radio.block1Heading' | translate}}</font></h2>
		<p>{{'radio.block1Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'radio.block2Heading' | translate}}</font></h2>
		<p>{{'radio.block2Text' | translate}}</p>
	</div>
</div>
	
	
<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'radio.block3Heading' | translate}}</font></h2>
		<p>{{'radio.block3Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'radio.block4Heading' | translate}}</font></h2>
		<p>{{'radio.block4Text' | translate}}</p>
	</div>
</div>	

	
<p><center><a href ng-click="showModal()" id="bouton" style="font-size:15px"><strong>{{'radio.buttonText' | translate}}</strong></a></center></p>