<center><h1>{{'sage_femme.title1' | translate}} <font color="#fe6f37">{{'sage_femme.title2' | translate}}</font> {{'sage_femme.title3' | translate}}</h1></center>
			
<center><div class="BlocTexte">
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'sage_femme.block1Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block1Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'sage_femme.block2Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block2Text' | translate}}</p>
	</div>
</div>
	
	
<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'sage_femme.block3Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block3Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'sage_femme.block4Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block4Text' | translate}}</p>
	</div>
</div>	


<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'sage_femme.block5Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block5Text' | translate}}</p>
	</div>
	<div class="BlocDroite">
		<h2><font color="#7695C3">{{'sage_femme.block6Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block6Text' | translate}}</p>
	</div>
</div>


<div class="BlocTexte">	
	<div class="BlocGauche">
		<h2><font color="#7695C3">{{'sage_femme.block7Heading' | translate}}</font></h2>
		<p>{{'sage_femme.block7Text' | translate}}</p>
	</div>
</div>
	
<p><center><a href ng-click="showModal()" id="bouton" style="font-size:15px"><strong>{{'sage_femme.buttonText' | translate}}</strong></a></center></p>